@import "~normalize.css"
@import "~html5-device-mockups"
@import "~vue-material/dist/vue-material.css"
@import url('https://fonts.googleapis.com/css?family=Share+Tech')
@import url('https://fonts.googleapis.com/css?family=Work+Sans')

//@tailwind preflight;

// Import hier custom stylus code
primary-color = rgba(156, 232, 145, 1)
secondary-color = rgba(237, 184, 120, 1)

accent-color-one = rgba(139, 199, 221, 1)
accent-color-two = rgba(228, 133, 117, 1)

smartPhoneWidth = 741px;
$smartPhone = "only screen and (max-width: " + smartPhoneWidth + ")"
$smartPhonePortrait = "only screen and (max-width: " + smartPhoneWidth + ") and (orientation : portrait)"
$smartPhoneLandscape = "only screen and (max-width: " + smartPhoneWidth + ") and (orientation : landscape)"

.accent-one
  background-color accent-color-one

.accent-two
  background-color accent-color-two

.primary-color
  background-color primary-color

.secondary-color
  background-color secondary-color

body
  font-family Work Sans, sans-serif
  background-color #f1f4f6

h1, h2, h3, h4, h5, h6
  font-family Share Tech, sans-serif

.section
  min-height 100vh

.flex
  display flex

.flex-center
  justify-content center
  align-items center

.flex-right
  justify-content flex-end

.flex-right-center
  justify-content flex-end
  align-items center

.flex-bottom
  align-items flex-end

.horizontal-flex
  justify-content center

.flex-row
  flex-direction row

.flex-column
  flex-direction column

.v-footer
  height 25vh
  background-color darkgray

.copyright
  height 3em
  background-color grey
  width 100%

.full-height
  height 100%

.relative
  position relative

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}

.text-center
  text-align center

#head, .header, #spel-header
  z-index: 1000
  vertical-align: middle
  text-align: center
  font-size: 25px
  display: flex
  align-items: center
  flex-direction: column
  justify-content: center
  height: 10%
  color: accent-color-one

#head
  margin-top: 30px
  margin-bottom: 40px

.text
  vertical-align: middle
  text-align: center
  font-size: 24px
  display: flex
  align-items: center
  flex-direction: column
  justify-content: center
  margin-top: auto
  margin-bottom: auto
  padding: 30px 0

#explanation{
  .md-layout-item {
    height: 300px;
    margin-top: 20px

    &:after {
      width: 100%;
      height: 100%;
      display: block;
      content: " ";

    }

    &.md-layout {
      &:after {
        transform: translateY(-100%);
      }

      .md-layout-item:after {
        height: 89%;
        margin-top: 16px;
        position: relative;
        z-index: 1;

      }
    }
  }
}


#logo
  display: block
  width: 7%
  height: auto
  margin: auto

#qr
  display: block
  width: 20%
  height: auto
  margin: auto

.parallax
  background-image: url("../images/test.jpg");
  height: 10%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20%;

.big-title
  font-size 4em

.custom-card
  background-color white
  text-align center

.desktop.no-landscape
  visibility visible

.mobile
  visibility hidden

@media $smartPhoneLandscape
  .no-landscape
    visibility hidden

@media $smartPhone
  .mobile-flex-column
    flex-direction column

  .desktop
    visibility hidden

  .mobile
    visibility visible

//@media smartPhone
//  body
//    font-size 30px !important

@import "promo.styl"
@import "highscore.styl"
@import "download.styl"
@import "events.styl"
@import "contact.styl"

//@tailwind utilities;