#contact
  height 10vh
  width 100%
  background-color #f1f4f6
  position relative
  top -100px

#contact-form
  height 80vh
  background-color purple

.contact-card
  height 75%
  width 75%
  @media $smartPhone
    width 95%
