.download
  height 100vh
  background-color #f1f4f6
  position relative
  top -100px
  div
    height 90%
    width 100%
    //background-color red

//.apple-store-button
//  width 200px
//  height 100%
//.google-play-button
//  width 200px
//  height 100%

.device-wrapper
  max-width 340px
