.events
  height 100vh
  background-color accent-color-two
  position relative
  top -100px


.event-card
  height 75%
  width: 75%
  @media only screen and (max-width: 480px)
    width 95%


.event-select-box
  width 100%
  .md-field
    width 80%