.highscore
  background-color accent-color-one
  z-index -2
  transform-origin right top
  transform skewY(3deg)
  @media $smartPhone
   height 100%
   top -25px

@media $smartPhonePortrait
  .highscore.section
    height 120vh


.highscore-card
  transform-origin right top
  transform skewY(-3deg)

.highscore-box
  position relative
  height 60%
  width 500px
  background-color white
  transform skewY(0deg)
  padding 0 1em
  @media $smartPhoneLandscape
    //height 80%
  h3
    width 100%
    text-align center
  .highscore-item-content
    width 100%
    height 100%
    highscore-items
      width 75%
      height  75%

@media $smartPhone
  .highscore-card
    width 95%