.promo-head
  background-image url(../images/rest.jpg)
  background-repeat no-repeat
  height 92vh
  width 100%
  transform-origin right bottom
  transform skewY(3deg)
  border-bottom 3em solid primary-color

